.idea*/
.vs
.venv

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
compile_commands.json

/build/
/build-*/
/cmake-build-*/
/out/
build
cmake-build-*/

*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.pdb
